<!DOCTYPE html>
{% macro render_field(field, labelclass='') %}
{% if labelclass %}
<dt> {{ field.label }}<span class={{ labelclass }}>*</span>
{% else %}
<dt> {{ field.label }}
{% endif %}

<dd>{{ field(**kwargs)|safe }}
{% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
</dd>
{% endmacro %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% macro render_msg() %}
    {% if info %}
    <p class=info><strong>Info:</strong> {{ info }}
    {% endif %}

    {% if success %}
    <p class=success><strong>Success:</strong> {{ success }}
    {% endif %}

    {% if warning %}
    <p class=warning><strong>Warning:</strong> {{ warning }}
    {% endif %}

    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    {% if validation %}
    <p class=validation><strong>Validation:</strong> {{ validation }}
    {% endif %}
{% endmacro %}

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ site_title }} | {{ page_title }}</title>
    <meta name="description" content="A daily reading from the Westminster Confession and Catechisms">

    <!-- RSS Metas
    ================================================== -->
    <link rel="alternate" type="application/rss+xml" href="/feed.rss" title="{{ site_title }} RSS Feed">


    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/skeleton.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/layout.css')}}">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <!--
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico')}}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename = 'images/apple-touch-icon.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename = 'images/apple-touch-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename = 'images/apple-touch-icon-114x114.png')}}">
    -->


    <!-- Javascript
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery-1.9.0.min.js') }}"></script>
    <!-- Twitter Javascript -->
    <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));
    </script>

    <!-- Template block additions
    ================================================== -->
    {% block header %}{% endblock %}

</head>
<body>

<!-- Required for Facebook sharing -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


    <!-- Primary Page Layout
    ================================================== -->

    <!-- Delete everything in this .container and get started on your own site! -->

    <div class="container">
        <div class="row">
        <div class="eight columns offset-by-four" style="text-align:center;">
            <h4 class='add-bottom'><a href="/">Westminster Daily</a></h4>
            <p class='remove-bottom subheader'>{{ tagline }}</p>
        </div>
        </div>

        {% block body %}
        {% endblock %}

        <div class="ten columns offset-by-three remove-bottom"><hr class="half-bottom"/></div>
        <div class="eight columns offset-by-four" style="text-align:center;">
            <small>Based on <a href="https://www.gpts.edu/resources/documents/Calendar%20Readings%20in%20WestminsterNumbered.pdf">Calendar of Readings in the Westminster Standards</a> by Dr. Joey Pipa. By <a href="https://twitter.com/tdhopper">Tim Hopper</a>.</small>

            <br />
            <a href="/feed.rss">
            <img src="{{ url_for('static', filename = 'images/feed-icon-14x14.png')}}">
            </a>
        </div>
    </div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>
