<!DOCTYPE html>
{% macro render_field(field, labelclass='') %}
{% if labelclass %}
<dt> {{ field.label }}<span class={{ labelclass }}>*</span>
{% else %}
<dt> {{ field.label }}
{% endif %}

<dd>{{ field(**kwargs)|safe }}
{% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
</dd>
{% endmacro %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% macro render_msg() %}
    {% if info %}
    <p class=info><strong>Info:</strong> {{ info }}
    {% endif %}

    {% if success %}
    <p class=success><strong>Success:</strong> {{ success }}
    {% endif %}

    {% if warning %}
    <p class=warning><strong>Warning:</strong> {{ warning }}
    {% endif %}

    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    {% if validation %}
    <p class=validation><strong>Validation:</strong> {{ validation }}
    {% endif %}
{% endmacro %}

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ site_title }} | {{ page_title }}</title>
    <meta name="description" content="A daily reading from the Westminster Confession and Catechisms">

    <!-- RSS Metas
    ================================================== -->
    <link rel="alternate" type="application/rss+xml" href="https://feedpress.me/westminster-daily" title="{{ site_title }} RSS Feed">


    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/bigfoot-default.css')}}">

    <!-- Favicons
    ================================================== -->
    <!--
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico')}}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename = 'images/apple-touch-icon.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename = 'images/apple-touch-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename = 'images/apple-touch-icon-114x114.png')}}">
    -->


    <!-- Javascript
    ================================================== -->
    <script src="{{ url_for('static', filename='js/jquery-1.9.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bigfoot.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% raw %}
    <script type="text/javascript">
            var bf = $.bigfoot({
                    buttonMarkup: '<div class=\'bigfoot-footnote__container\'> <button class="bigfoot-footnote__button" id="{{SUP:data-footnote-backlink-ref}}" data-footnote-number="{{FOOTNOTENUM}}" data-footnote-identifier="{{FOOTNOTEID}}" alt="See Footnote {{FOOTNOTENUM}}" rel="footnote" data-bigfoot-footnote="{{FOOTNOTECONTENT}}"> <svg class="bigfoot-footnote__button__circle" viewbox="0 0 6 6" preserveAspectRatio="xMinYMin"><circle r="3" cx="3" cy="3" fill="white"></circle></svg> <svg class="bigfoot-footnote__button__circle" viewbox="0 0 6 6" preserveAspectRatio="xMinYMin"><circle r="3" cx="3" cy="3" fill="white"></circle></svg>  </button></div>'
        });
        $( document ).ready(function() {

            var hash = window.location.hash;
            hash = hash.replace("fn:", "fnref:").replace(":", "\\:");
            console.log(hash)
            bf.activate(hash);

        });

    </script>
    {% endraw %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70052836-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Template block additions
    ================================================== -->
    {% block header %}{% endblock %}

</head>
<body>

    <!-- Primary Page Layout
    ================================================== -->

    <!-- Delete everything in this .container and get started on your own site! -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto"><hr class=""/></div>
        </div>
        <div class="row half-bottom">
            <div class="col-sm col-md-3 col-lg-3 ml-auto" style="text-align:center;">
                <h3><a href="{{ url_for('render_today') }}">Westminster Daily</a></h3>
            </div>
            <div class="col-sm col-md-5 col-lg-3 mr-auto" style="text-align:center;">
                <h6 class=' text-muted'>{{ tagline }}</h6>
            </div>
        </div>
        <div class="row pb-3">

            <div class="col-sm col-md-3 col-lg-3 ml-auto" style="text-align:center;">
                <a href="/about">
                    <small>about</small>
                </a>
                &middot;
                <a href="/westminster-daily/reading-plan">
                    <small>full plan</small>
                </a>
            </div>

            <div class="col-sm col-md-5 col-lg-3 mr-auto" style="text-align:center;">
                {% block datenav %}
                {% endblock %}
            </div>
        </div>

        {% block body %}
        {% endblock %}



        <div class="col-sm col-md-8 col-lg-6 m-auto" style="text-align:right;">
            <button type="button" id="toggle" class="btn btn-light  btn-sm">toggle proof texts</button>
        </div>
        <div class="col-sm col-md-8 m-auto"><hr class="half-bottom"/></div>
        <div class="col-sm col-md-8 col-lg-6 m-auto" style="text-align:center;">

            <a href="https://www.facebook.com/westminsterdaily/">
                <small>follow on facebook</small>
            </a>
            &middot;
            <a href="http://twitter.com/refconfessions">
                <small>follow on twitter</small>
            </a>
            <br />

            <a href="http://feedpress.me/westminster-daily">
                <small>subscribe by rss</small></a>

            &middot;
            <a href="https://feed.press/e/mailverify?feed_id=westminster-daily">
                <small>subscribe by e-mail</small></a>

            <br />

            <a href="https://readmachen.com">
                <small>readmachen.com</small></a>
            &middot;
            <a href="https://reformeddeacon.com">
                <small>reformeddeacon.com</small></a>
            &middot;
            <a href="https://ulsterworldly.com">
                <small>ulsterworldly.com</small></a>
            &middot;
            <small><a href="http://goo.gl/forms/gj5Aww73o2">Feedback?</a></small>

            <p style="font-size:0.7em">
                Copyright &copy;
                <script language="javascript" type="text/javascript">document.write((new Date()).getFullYear())</script>
                Tim Hopper.
                Based on <a href="/static/pipa-calendar.pdf">Calendar of Readings in the Westminster Standards</a> by Dr. Joey Pipa.
                Scripture taken from The Holy Bible, English Standard Version. Copyright &copy;2001 by <a href="http://www.crosswaybibles.org">Crossway Bibles</a>, a publishing ministry of Good News Publishers. Used by permission. All rights reserved.
            </p>
        </div>
    </div><!-- container -->


<script type="text/javascript">

    document.getElementById('toggle').onclick = toggle;
    function toggle() {
      $(".bigfoot-footnote__container").toggle();
    }

</script>
<!-- End Document
================================================== -->
</body>
</html>
