{% extends "base_t.html" %}
{% block header %}
<meta property="og:site_title" content="{{ site_title }}" />
<meta property="og:title" content="{{ site_title }} | {{ page_title }}" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:image" content="http://{{ request.host }}/images/docs/{{ date.strftime('%m%d') }}-full.png" />
<meta property="og:description" content="{{ tagline }} | {{ description }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@reformedconfessions">
<meta name="twitter:creator" content="@reformedconfessions">
<meta name="twitter:title" content="{{ site_title }} | {{ page_title }}">
<meta name="twitter:description" content="{{ tagline }} | {{ description }} ">
<meta name="twitter:image" content="http://{{ request.host }}/images/docs/{{ date.strftime('%m%d') }}-full.png">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="eight columns offset-by-four" style="text-align:center;">
            <p class='remove-bottom'>
            <strong>
            {{ date.strftime('%b %-d') | yesterday }} —
            {{ date.strftime('%b %-d') | today }} —
            {{ date.strftime('%b %-d') | tomorrow }}
            </strong>
            </p>
        </div>
    </div>
    <div class="row remove-bottom">
        <div class="eight columns offset-by-four remove-bottom">
            {% for c in content %}
                <h5 class="half-bottom">{{ c['name'] }} </h5>
                {% include c['type'] + '_t.html' %}
            {% endfor %}
            {% if static %}
            <div id="sharing" class="social">
                <div class="Facebook fb-share-button" data-href="{{ url }}/" data-layout="button"></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="twitter twitter-share-button" href="{{ url }}" data-count=none>
Tweet</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
