<div class="row remove-bottom">
    <div class="eight columns offset-by-four remove-bottom">
        {% for c in content %}
            {% include c['type'] + '_t.html' %}
            <div class="prooftexts">
                <ol class="disc">
                {% for k, v in c.prooftexts.items() %}
                    <li class="footnote remove-bottom" id="fn:{{ c.abbv }}{{ k }}">
                        {{ v | safe}}
                    </li>
                {% endfor %}
                </ol>
            </div>
        {% endfor %}


    </div>
</div>
