{% extends "base_t.html" %}
{% block header %}
<meta property="og:site_title" content="{{ site_title }}" />
<meta property="og:url" content="{{ url }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@reformedconfessions">
<meta name="twitter:creator" content="@reformedconfessions">
{% if static %}
<meta property="og:image" content="http://{{ request.host }}/static/images/docs/{{ date.strftime('%m%d') }}-full.png" />
<meta property="og:description" content="{{ tagline }} | {{ description }}" />
<meta property="og:title" content="{{ site_title }} | {{ page_title }}" />
<meta name="twitter:title" content="{{ site_title }} | {{ page_title }}">
<meta name="twitter:description" content="{{ tagline }} | {{ description }} ">
<meta name="twitter:image" content="http://{{ request.host }}/images/docs/{{ date.strftime('%m%d') }}-full.png">
{% else %}
<meta property="og:image" content="http://{{ request.host }}/static/images/docs/0101-full.png" />
<meta property="og:description" content="{{ tagline }}" />
<meta property="og:title" content="{{ site_title }}" />
<meta name="twitter:title" content="{{ site_title }}">
<meta name="twitter:description" content="{{ tagline }}">
<meta name="twitter:image" content="http://{{ request.host }}/images/docs/0101-full.png">
{% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="eight columns offset-by-four" style="text-align:center;">
            <p class='remove-bottom'>
            <strong>
            {{ date.strftime('%b %-d') | yesterday }} —
            {{ date.strftime('%b %-d') | today }} —
            {{ date.strftime('%b %-d') | tomorrow }}
            </strong>
            </p>
        </div>
    </div>
    {% include 'content_body_t.html' %}
{% endblock %}
