<div class="row remove-bottom">
    <div class="eight columns offset-by-four remove-bottom">

        {% for c in content %}
            <h5 class="half-bottom">{{ c['name'] }} </h5>
            {% include c['type'] + '_t.html' %}
        {% endfor %}

        <div class="footnotes"><ol start="{{ prooftexts.keys() | sort | first }}">
            {% for k, v in prooftexts.items() %}
                <li class="footnote" id="fn:{{ k }}">
                    <p>{{ v | safe}} &nbsp;<a href="#fnref:{{ k }}" title="return to article">↩</a><p>
                </li>
            {% endfor %}
        </ol></div>

        {% if static %}
        <div id="sharing" class="social"><share-button></share-button></div>
        {% endif %}
    </div>
</div>
