
{% block header %}
<meta property="og:site_title" content="{{ site_title }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:url" content="{{ request.host }}{{ request.path }}" />
<meta property="og:image" content="{{ request.host }}/images/docs/{{ date.strftime('%m%d') }}-full.png" />
<meta property="og:description" content="" />
<meta property="fb:app_id" content="westminster-daily" />
{% endblock %}

{% extends "base_t.html" %}
{% block body %}
    <div class="row">
        <div class="eight columns offset-by-four" style="text-align:center;">
            <p class='remove-bottom'>
            <strong>
            {{ date.strftime('%b %-d') | yesterday }} —
            {{ date.strftime('%b %-d') | today }} —
            {{ date.strftime('%b %-d') | tomorrow }}
            </strong>
            </p>
        </div>
    </div>
    <div class="row remove-bottom">
        <div class="eight columns offset-by-four remove-bottom">
            {% for c in content %}
                <h5 class="half-bottom">{{ c['name'] }} </h5>
                {% include c['type'] + '_t.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
