{% filter inline_styles(base_url=url) %}

{% for c in content %}
    {% include c['type'] + '_t.html' %}
{% endfor %}
<style type="text/css">
    p {
        display: inline;
        padding: 0px;
        margin: 0px;
    }
    h5 {
        padding: 0px;
        margin: 0px;
    }
</style>
<ul start="{{ prooftexts.keys() | sort | first }}" class="disc">
    {% for k, v in prooftexts.items() %}
        <li class="footnote remove-bottom" id="fn:{{ k }}">
            {{ v | replace("<br />", "") | safe }}
        </li>
    {% endfor %}
</ul>
{% endfilter %}