{% filter inline_styles(base_url=url) %}
<!DOCTYPE html>
<title></title>

<style type="text/css">

    p, h5, div {
        display: inline;
        padding: 0px;
        margin: 0px;
        font-family:Georgia, Serif;
    }
    h5 {
        font-size: 18px;
    }
    p.question, p.answer, p.section, p.paragraph, div.answer {
        font-size: 16px;
    }
    .header, .text-muted, .answer, .question, .paragraph {
        display: block;
    }
    .prooftexts h5 {
        font-size: 14px;
    }
    .prooftexts {
        font-size: 14px;
    }
</style>
{% for c in content %}
    {% include c['type'] + '_t.html' %}
    <div class="prooftexts">
        <ol class="disc">
        {% for k, v in c.prooftexts.items() %}
            <li class="footnote" id="fn:{{ k }}">
                {{ v | replace("<br />", "") | safe}}
            </li>
        {% endfor %}
        </ol>
    </div>
{% endfor %}
{% endfilter %}
