
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ site_title }} | {{ page_title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">

    <style type="text/css">
        .image {
            width:600px;
            height:320px;
            overflow: hidden;
            padding:20px;
            font-size:125%;
        }
        p {
        line-height: 110%;
        }
        .question {
            margin-bottom: .2em;
        }
    </style>
    <!-- Template block additions
    ================================================== -->
    {% block header %}{% endblock %}

</head>
<body style="background-color: black;">
<div class="image" id="content">
<div class="container">
    <div class="row">
        <div class="col">
        {% for c in content %}
            {% include c['type'] + '_t.html' %}
        {% endfor %}
        </div>
    </div>
</div>
</div>

</body>