
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ site_title }} | {{ page_title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/skeleton.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/layout.css')}}">

    <!-- Template block additions
    ================================================== -->
    {% block header %}{% endblock %}

</head>
<body>
<div class="container">
    <div class="row">
    <div style="width:600px;height:320px;overflow: hidden;padding:20px;font-size:125%;" id="content">
        <h2>Westminster Daily</h2>
        {% for c in content %}
            <h4 class="half-bottom">{{ c['name'] }} </h4>
            {% include c['type'] + '_t.html' %}
        {% endfor %}
    </div>
    </div>
</div>
</body>