{% extends "base_t.html" %}
{% block header %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 m-auto">
            <ul class="disc">
            {% for d, title in content %}
                <li class="half-bottom">
                    <a href="/westminster-daily/{{ d.strftime('%m') }}/{{ d.strftime('%d') }}" style="text-decoration: none;">
                    {{ d.strftime('%b %d') }}:
                    {{ title }}
                    </a>
                </li>
            {% endfor %}

            </ul>
        </div>
    </div>
{% endblock %}
