*.pyc
.vscode
venv/
build/
*.egg-info
bower_components
package-lock.json
node_modules/
flask_application/static/css/
*.rss
print/.venv/
print/westminster-daily.pdf
print/westminster-daily.typ

# Local Netlify folder
.netlify
