<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">

    <!-- RSS Metas
    ================================================== -->
    <link rel="alternate" type="application/rss+xml" href="https://feedpress.me/westminster-daily"
        title="Westminster Daily RSS Feed">


    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Open+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/bigfoot-default.css' />
    <link rel="stylesheet" href="/css/essential_audio.css" />

    <!-- Javascript
    ================================================== -->
    <script src="/js/jquery-1.9.0.min.js"></script>
    <script src="/js/bigfoot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/essential_audio.js"></script>

    <script type="text/javascript">
        var bf = jQuery.bigfoot({
            buttonMarkup: '<div class=\'bigfoot-footnote__container\'> <button class="bigfoot-footnote__button" id="{{SUP:data-footnote-backlink-ref}}" data-footnote-number="{{FOOTNOTENUM}}" data-footnote-identifier="{{FOOTNOTEID}}" alt="See Footnote {{FOOTNOTENUM}}" rel="footnote" data-bigfoot-footnote="{{FOOTNOTECONTENT}}"> <svg class="bigfoot-footnote__button__circle" viewbox="0 0 6 6" preserveAspectRatio="xMinYMin"><circle r="3" cx="3" cy="3" fill="white"></circle></svg> <svg class="bigfoot-footnote__button__circle" viewbox="0 0 6 6" preserveAspectRatio="xMinYMin"><circle r="3" cx="3" cy="3" fill="white"></circle></svg>  </button></div>'
        });
        jQuery(document).ready(function () {

            var hash = window.location.hash;
            hash = hash.replace("fn:", "fnref:").replace(":", "\\:");
            console.log(hash)
            bf.activate(hash);

        });

    </script>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-70052836-1', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- Template block additions
    ================================================== -->

    <meta property="og:site_title" content="Westminster Daily" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@reformedconfessions">
    <meta name="twitter:creator" content="@reformedconfessions">
    <!-- static? False -->

    $if(short_date)$
    <meta property="og:image" content="http://reformedconfessions.com/static/images/docs/$short_date$-full.png" />
    <meta name="twitter:image" content="http://reformedconfessions.com/static/images/docs/$short_date$-full.png">
    <meta property="og:title" content="$pagetitle$" />
    <meta name="twitter:title" content="$pagetitle$">
    <title>Westminster Daily | $pagetitle$</title>
    <meta property="og:url" content="http://reformedconfessions.com$this_url$" />
    $else$
    <meta property="og:image" content="http://reformedconfessions.com/static/images/docs/0101-full.png" />
    <meta name="twitter:image" content="http://reformedconfessions.com/static/images/docs/0101-full.png">
    <meta property="og:title" content="Westminster Daily" />
    <meta name="twitter:title" content="Westminster Daily">
    <title>Westminster Daily | A Daily Reading</title>
    <meta property="og:url" content="http://reformedconfessions.com/westminster-daily/" />
    $endif$
    <meta name="description" content="A daily reading from the Westminster Confession and Catechisms">
    <meta property="og:description" content="A daily reading from the Westminster Confession and Catechisms" />
    <meta name="twitter:description" content="A daily reading from the Westminster Confession and Catechisms">



</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <hr class="" />
            </div>
        </div>
        <div class="row half-bottom">
            <div class="col-sm col-md-3 col-lg-3 ml-auto" style="text-align:center;">
                <h3><a href="/westminster-daily/">Westminster Daily</a></h3>
            </div>
            <div class="col-sm col-md-5 col-lg-3 mr-auto" style="text-align:center;">
                <h6 class=' text-muted'>Read the Westminster Standards in a year.</h6>
            </div>
        </div>
        $if(this_url)$
        <div class="row pb-3">

            <div class="col-sm col-md-3 col-lg-3 ml-auto" style="text-align:center;">
                <a href="/westminster-daily/about">
                    <small>about</small>
                </a>
                &middot;
                <a href="/westminster-daily/reading-plan">
                    <small>full plan</small>
                </a>
            </div>

            <div class="col-sm col-md-5 col-lg-3 mr-auto" style="text-align:center;">

                <strong>
                    <a href="$prev_url$">
                        < $prev_date$ </a>
                            &middot;

                            <a href="$this_url$">
                                $this_date$
                            </a>
                            &middot;
                            <a href="$next_url$">
                                $next_date$ >
                            </a>
                </strong>

            </div>
        </div>
        $endif$


        <div class="row">
            <div class="main col-md-8 col-lg-6 m-auto">
                $body$


            </div>
        </div>

        <div class="col-sm col-md-8 col-lg-6 m-auto" style="text-align:right;">
            <button type="button" id="toggle" class="btn btn-light  btn-sm">toggle proof texts</button>
        </div>
        <br>
        <div class="col-sm col-md-8 col-lg-6 m-auto">
            <div class="essential_audio" data-url="https://reformedconfessions.com/static/audio/$short_date$.mp3"></div>
        </div>
        <br>
        <div class="col-sm col-md-8 col-lg-6 m-auto" style="text-align:center;">

            <button class="collapsible">▸ Submit Feedback...</button>
            <div class="collapsible-content">
                <p>
                    Please submit corrections or feedback.
                </p>
                <form name='feedback' method='POST' data-netlify="true">
                    <input type='hidden' name='form-name' value='feedback' />
                    <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name" />
                    </div>
                    <div class="form-group"><input class="form-control" type="email" name="email"
                            placeholder="Email Address" /></div>
                    <input type="hidden" name="page" value="http://reformedconfessions.com$this_url$">
                    <div class="form-group"><textarea class="form-control" name="message" placeholder="Feedback"
                            rows=5></textarea></div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>

            <a href="https://www.facebook.com/westminsterdaily/">
                <small>follow on facebook</small>
            </a>
            &middot;
            <a href="http://twitter.com/refconfessions">
                <small>follow on twitter</small>
            </a>
            <br />

            <a href="http://feedpress.me/westminster-daily">
                <small>subscribe by rss</small></a>

            &middot;
            <a href="https://feed.press/e/mailverify?feed_id=westminster-daily">
                <small>subscribe by e-mail</small></a>

            <br>

            <small><a href="https://feedpress.me/westminster-daily-audio">subscribe to podcast:</a></small>
                  <a href="https://podcasts.apple.com/us/podcast/westminster-daily/id1661869655">
                <img src="/images/icons/Apple-Podcasts.png" height="25px" title="Apple Podcasts"></a>
                <a href="https://feedpress.me/westminster-daily-audio">
                <img src="/images/icons/RSS.png" height="25px" title="RSS"></a>

            <br />

            <a href="https://readmachen.com">
                <small>readmachen.com</small></a>
            &middot;
            <a href="https://reformeddeacon.com">
                <small>reformeddeacon.com</small></a>
            &middot;
            <a href="https://ulsterworldly.com">
                <small>ulsterworldly.com</small></a>

            <p style="font-size:0.7em">
                Copyright &copy;
                <script language="javascript" type="text/javascript">document.write((new Date()).getFullYear())</script>
                Tim Hopper.
                Based on <a href="/pipa-calendar.pdf">Calendar of Readings in the Westminster Standards</a> by
                Dr. Joey Pipa.
                Scripture taken from The Holy Bible, English Standard Version. Copyright &copy;2001 by <a
                    href="http://www.crosswaybibles.org">Crossway Bibles</a>, a publishing ministry of Good News
                Publishers. Used by permission. All rights reserved.
            </p>
        </div>
    </div><!-- container -->


    <script type="text/javascript">

        document.getElementById('toggle').onclick = toggle;
        function toggle() {
            jQuery(".bigfoot-footnote__container").toggle();
        }

        document.addEventListener("DOMContentLoaded", function (event) {

            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
            //do work
        });

    </script>
    <!-- End Document
================================================== -->
</body>

</html>
